[user]
  name       = KevinEdwardBerry
  email      = kevin.berry@improving.com
  signingkey = F534149EECF1634E

[commit]
  gpgsign = true

[gpg]
  # Help Windows find the program
  # program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"

[core]
  editor       = vim  # for Linux distros that default to nano
  excludefiles = ~/.gitignore
  # Uncomment for Windows environment
  # autocrlf   = true

[color]
  branch = auto
  diff   = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
  # add
  a  = add
  an = add --no-all  # old add behavior
  aa = add --all
  ai = add --interactive
  au = add --update
  ap = add --patch

  # bisect
  good = bisect good
  bad  = bisect bad

  # branch
  b          = branch
  unset      = branch --unset-upstream
  recent     = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)%09%(committerdate:short)"
  recent-all = for-each-ref --sort=-committerdate refs/heads/ --format="%(refname:short)%09%(committerdate:short)"
  bprune     = !git branch --merged | egrep -v '(^\\*|master|develop)' | xargs git branch -d

  # checkout
  c = checkout

  # commit
  ca = commit --amend
  cm = commit -m
  cc = commit -c

  # diff
  d   = diff
  p   = diff --cached   # mnemonic: "patch"
  dni = diff --no-index
  ds  = diff --stat     # mnemonic: "diff stat"
  dt  = difftool --no-prompt

  # fetch
  f  = fetch --all --prune  # all the things
  ft = fetch --tags         # tags

  # log
  l   = log --pretty=oneline --abbrev-commit --max-count=15
  ll  = log --pretty=oneline --abbrev-commit
  lc  = log --stat --summary
  lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all

  # merge
  m  = merge
  mm = merge master
  ff = merge --ff-only
  mt = mergetool
  mc = merge --continue
  ma = merge --abort

  # pull
  pr = pull --rebase

  #push
  please = push --force-with-lease
  pom    = push origin master

  # rebase
  r   = rebase
  ri  = rebase --interactive HEAD~10
  rc  = rebase --continue
  rs  = rebase --skip
  ra  = rebase --abort
  rom = rebase origin master

  # status
  s  = -p status  # with pagination
  ss = -p status -s

  # tag
  t = tag --sort -version:refname

  # timesheet (from Cori Drew)
  timesheet = reflog --pretty=format:'(%cd) %h - %d %s [%an]' --abbrev-commit --date-order --date=local --author=KevinEdwardBerry
  ts = reflog --pretty=format:'(%cd) %h - %d %s [%an]' --abbrev-commit --date-order --date=local --author=KevinEdwardBerry

  timesheetPretty = reflog --pretty=format:'%Cgreen(%cd) %Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue) [%an]%Creset' --abbrev-commit --date-order --date=local --author=KevinEdwardBerry
  tsp = reflog --pretty=format:'%Cgreen(%cd) %Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue) [%an]%Creset' --abbrev-commit --date-order --date=local --author=KevinEdwardBerry

  timesheetAll = reflog --pretty=format:'(%cd) %h - %d %s [%an]' --abbrev-commit --date-order --date=local
  tsa = reflog --pretty=format:'(%cd) %h - %d %s [%an]' --abbrev-commit --date-order --date=local

  timesheetAllPretty = reflog --pretty=format:'%Cgreen(%cd) %Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue) [%an]%Creset' --abbrev-commit --date-order --date=local
  tsap = reflog --pretty=format:'%Cgreen(%cd) %Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue) [%an]%Creset' --abbrev-commit --date-order --date=local

  #--- other ---

  # misc
  pi = cherry-pick
  ki = stash --keep-index

  # experimental
  stage   = add
  unstage = reset HEAD
  pop     = reset --soft HEAD^
  review  = log -p --max-count=1
  rv      = remote -v
  fp      = format-patch --stdout

[achievement]
  upload = true

[push]
  default = simple

[rerere]
  enabled = true
